.App {
  text-align: center;
}

.App-logo1 {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  pointer-events: none;
}

.App-header1 {
  background-color: #282c34;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 120px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.6em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
